@import "tailwindcss";
@source not "../../*.md";

@theme {
  --font-sans: var(--font-kumbh-sans), ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html {
    overflow-y: scroll;
  }

  body {
    font-family: var(--font-sans);
  }

  button:not(:disabled) {
    cursor: pointer;
  }
}
